/* global */
body, html {
    margin:0;
    padding:0;
    background-color: white;
}

/* header.html */
.navbar {
    width: 1368px;
    height: 106px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 100%;
    flex-shrink: 0;
    background-color: #C5EBB4;
    color: black;
}

.navbar-left {
    display: flex;
    align-items: center;
    gap: 120px;
}

.navbar-right {
    display: flex;
    align-items: right;
    gap: 38px;
    padding-right: 55px;
}

.logo {
    width: 169px;
    height: 75px;
    padding-left: 30px;
}

.search {
    width: 35px;
    height: 35px;
    flex-shrink: 0;
}
.shopping-cart {
    width: 35px;
    height: 35px;
    flex-shrink: 0;
    aspect-ratio: 1/1;
}

.text {
    font-family: "Noto Serif";
    color: black;
    text-decoration: none;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
}

/* index.html */
.bg-pic {
    position: relative;
    justify-content: center;
    width: 100%;
    height: 438px;
    overflow: hidden;
}

.bg-pic::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/heading_pic.jpg) center/cover no-repeat;
    filter: blur(2.5px);
    z-index: 0;
}

.slogan-wrapper {
    display: inline-flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 158px;
    border-radius: 30px;
    background: rgba(27, 53, 30, 0.2);
    background-blend-mode: color-burn;
}

.slogan {
    color: white;
    text-align: center;
    font-family:'Rufina', 'Playfair Display', serif ;
    font-size: 64px;
    font-weight: 700;
    line-height: normal;
}

.growing-trend {
    text-align: center;
    color: #000;
    font-family: Rufina;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.center-button-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 30px;
}

.center-button {
    font-family: "Noto Serif";
    color: black;
    background: #D4E6C5;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    padding: 10px;
    border-radius: 10%;


    left: 50%;
}

/*product-cards */
#product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 3%;
    padding-right: 3%;
    gap: 40px;
}

.product-card {
    position: relative;
    border: 1px solid #7FBA19;
    width: 200px;
    height: 200px;
}

.product-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
}

.info-wrapper {
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 30px;
    background: #D4E6C5;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-name {
    text-align: left;
    padding-left: 5%;
    color: #000;
    font-family: 'Noto serif';
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
}

.product-price {
    text-align: right;
    padding-right: 5%;
    color: #000;
    font-family: 'Noto serif';
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
}

/*browse-product.html*/
.search-result {
    text-align: center;
    color: #000;
    font-family: "Noto Serif";
    font-size: 40px;
    font-weight: 700;
    line-height: normal;
}

.result-text {
    text-align: center;
    color: #000;
    font-family: "Noto Serif";
    text-decoration: none;
    font-size: 36px;
    font-weight: 400;
    line-height: normal;
}

#product-list2 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 40px;
    padding: 3%;
    justify-items: center;
}

/*footer.html*/
.footer {
    display: flex;
    align-items: center;
    justify-content: center;justify-content: center;
    width:100%;
    height: 60px;
    margin-top: 2%;
    background-color: rgb(236, 236, 236);
}

.footer-text {
    text-align: center;
    justify-content: center;
    color: #000;
    font-family: "Noto Serif";
    text-decoration: none;
    font-size: 28px;
    font-weight: 400;
    line-height: normal;
    
}