<div class="navbar">
    <a href="../index.html" class="logo">
        <img class="logo" src="images/lilypad_logo.png">
    </a>
    <div class="navbar-left">
        <a href="#" class="text">Online shop</a>
        <a href="#" class="text">About us</a>
        <a href="#" class="text">Contact</a>
    </div>
    <div class="navbar-right">
        <a href="#" class="search">
            <img class="search" src="images/search_icon.png">
        </a>
        <a href="#" class="shopping-cart">
            <img class="shopping-cart" src="images/shopping_cart.png">
        </a>
    </div>
</div>